.contact {
  padding: 2em;
  width: 18vw;
  box-shadow: 0 3px 16px #00000029;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;

  .titles {

    .big-title {
      font-size: 1.25em;
      font-weight: bold;
      padding: 0;
      padding-top: 1.5em;
      padding-bottom: .75em;
      margin: 0;

    }

    .small-title {
      font-weight: 100;
      padding: 0;
      margin: 0;
    }
  }

  .form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



    .input-wrapper {
      display: flex;
      flex-direction: column;
      padding: .5em;
      padding-left: .25em;
      margin-bottom: 1em;
      margin-top: 1em;

      .form-error {
        font-size: .8em;
        padding-top: .1em;
        text-align: left;
        color: var(--error-color);
      }

      input {
        border: none;
        border-bottom: 1px solid var(--base-color);
        font-size: 1em;

        &::placeholder {
          color: var(--placeholder-color);
          font-weight: 100;
          font-size: .95em;
        }
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    padding-top: .5em;
    padding-bottom: .5em;

    .button {
      background: #FFA52E 0 0 no-repeat padding-box;
      border-radius: 50px;
      border: none;
      color: white;
      font-weight: 100;
      width: 50%;
      text-decoration: none;

      margin: 0 auto;
      padding: 1em;
      font-size: .95em;
    }
  }

  .terms {
    padding-top: 1em;
    display: flex;

    input {
      margin: 0;
      padding: 0;
    }

    p {
      margin: 0;
      font-weight: 100;
      font-size: .8em;
      text-align: left;
      padding-left: .25em;
    }

    .required {
      border: solid 1px var(--error-color);
    }
  }

}
